body {
  background-color: #f5f5f5;
  color: #414141;
  /*Nav overlap*/
  padding-bottom: 80px;
}

main{
  max-width: 400px;
  padding: 18px;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
}

h3{
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
}

h4{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

input{
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

button{
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
/*-------------------Greeting---------------------*/
#greetingContainer h2{
  color: #414141;
}

#greetingContainer{
    text-align: center;
}
#greetingDarkModeButton{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}
#greetingDarkModeButton h3{
    grid-column: 1;
    grid-row: 1;
}
#darkModeButton{
    grid-column: 2;
    grid-row: 1;
}

/*-------------------Dark Mode Button---------------------*/
#darkModeButton {
    right: 0;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: none;
    background-color: #000;
}
#darkModeButton i{
    font-size: 2em;
    color: #fff;
}

/*-------------------User Name Form---------------------*/
.collectInfoForm{
  text-align: center;
  padding: 10px;
  background-color: #d3ddce;
  border-radius: 20px;
  margin-bottom: 18px;
}

.collectInfoForm input{
  width: 80%;
  padding: 12px 18px;
  border-radius: 15px;
  border: none;
}

.collectInfoForm p{
  color: #627954;
}

#submitbutton {
  margin-top:10px;
  height: 45px;
  width: 100px;
  color: #d3ddce;
  background-color: #627954;
  border-radius: 20px;
  border: none;
}

/*-------------------Submit Button Nav---------------------*/
#moodButtonNav{
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  padding: 18px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

#moodButton{
  color: #414141;
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  border-radius: 15px;
  border: none;
  height: 45px;
  width: 100%;
  background-color: rgb(202, 192, 211);
}

#moodComment{
  font-size: 16px;
}

/*------------------Emoji Gallery Slide----------------------*/
#emojiGallerySlide{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 15px;
  margin: 15px 0;
}

#emojiGallerySlide img{
  width: 50px;
  height: 50px;
  transition: transform 0.2s;
}

#emojiGallerySlide img.selected{
  transform: scale(1.5);
}

/*------------------Mood Select----------------------*/
#m1{
  padding: 18px;
  margin-top: 60px;
  margin-bottom: 18px;
  background-color: rgba(202, 192, 211, 0.4);
  border-radius: 20px;
  text-align: center;
}

#Mood h2{
  color: #000;
}

img{
  width: 30%;
  height: auto;
  margin-bottom: 15px;
}

#moodSliderContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#moodSliderContainer h3{
  color: #414141;
}

#rangeSlider{
  width: 80%;
  height: 30px;
  border-radius: 20px;
  margin: 10px 0 15px;
  appearance: none;
  background-color: rgba(202, 192, 211);
  outline: none;
}

#rangeSlider::-webkit-slider-thumb{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  appearance: none;
  background-color: #fff;
}
  
/*------------------Triggers----------------------*/
.triggerButton i {
  margin-right: 7px;
  font-size: 1.1em;
  vertical-align: middle;
}

.accordion{
  margin-bottom: 18px;
}

.accordionHeader{
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  text-align: left;
  width: 100%;
  padding: 18px;
  margin: 0;
  background-color: #d3ddce;
  color: #627954;
  border-radius: 20px 20px 0 0;
  border: none;
  transition: background 0.3s;
}

.accordionHeader.active {
  border-radius: 20px;
}

.accordionContent {
  display: none;
  width: 100%;
  padding: 18px;
  margin: 0;
  background-color: #fff;
  color: #414141;
  border-radius: 0 0 20px 20px;
}

.accordionContent.active {
  display: block;
}

.triggerButton {
  margin: 5px;
  padding: 12px 18px;
  border-radius: 15px;
  border: none;
  background-color: #f5f5f5;
  color: #414141;
}

.triggerButton.active {
  background-color: #627954;
  color: #fff;
}

.sleepInput{
  display:block;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.sleepInput input{
  margin: 5px;
  text-align: center;
  background-color: #f5f5f5;
  border:none;
  border-radius: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  background-color: #414141;
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #ff5252;
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

/*------------------Mood Records + Suggestion----------------------*/
#m2, #m3, #m4 {
  padding: 18px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  margin-top: 18px;
  color: #414141;
}

#recordedDayCounter {
  font-size: 2rem;
  color: #627954;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

#suggestionOutput {
  padding: 18px;
  background-color: #627954;
  border-radius: 20px;
  text-align: center;
  margin-top: 18px;
  color: #ffffff;
}

#suggestionOutput h3 {
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#suggestionText{
  text-align: left;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*------------------Navbar----------------------*/
/* Bottom Navbar */
.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #d3ddce;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
}

/* Base Button */
.bottomNav .navBtn {
  width: 60px;
  height: 30px;
  background: transparent;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease;
  font-size: 1.6rem;
  color: #ffffff;
}

.bottomNav .navBtn.active {
  color: #627954;
}

.bottomNav .float.active,
.bottomNav .navBtn.float.active {
  background: #627954;
  color: #fff;
}

.bottomNav .float i {
  color: #fff;
}

/* Floating + Button */
.bottomNav .float {
  background: #627954;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin-top: -55px;
}

.bottomNav.hidden {
  display: none !important;
}

#moodButtonNav {
  display: none;
}

/*------------------Back Button----------------------*/
.backBtn {
  position: absolute;
  top: 18px;
  left: 18px;
  margin-bottom: 25px;
  border: none;
  background: none;
  color: #414141;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 100;
  padding: 0.25em 0.8em;
  transition: background 0.2s;
}

/*------------------Loader----------------------*/
#loaderContainer {
  position: fixed;
  inset: 0;
  background: #627954;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 9999;
}

#loader {
  width: 60%;
  height: 30%;
  padding: 0 12px;
  box-sizing: border-box;
  background:
    linear-gradient(#fff 0 0) 0    0/20px 70px,
    linear-gradient(#fff 0 0) 100% 0/20px 70px,
    radial-gradient(farthest-side,#fff 90%,#0000) 0 7px/12px 12px content-box,
    #627954;
  background-repeat: no-repeat;
  animation: l3 2s infinite linear;
}

@keyframes l3{
  25% {background-position: 0 0   ,100% 100%,100% calc(100% - 5px)}
  50% {background-position: 0 100%,100% 100%,0    calc(100% - 5px)}
  75% {background-position: 0 100%,100%    0,100% 5px}
}

#loaderContainer h3{
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  margin:0;
  color: #fff;
}


/*------------------Emotional Recognition----------------------*/
canvas {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #414141;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#backBtn {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background: rgba(85, 85, 85, 0.8);
  color: white;
  border-radius: 5px;
  font-size: 18px;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvasContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

#checkMoodBtn {
  width: 100%;
  height: auto;
  padding: 18px;
  background-color: #d3ddce;
  border-radius: 20px;
  text-align: center;
  margin-top: 18px;
  color: #627954;
  border: none;
  cursor: pointer;
}

#checkMoodBtn h3 {
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  margin: 0;
}

#scannedSuggestionOutput {
  padding: 18px;
  background-color: #627954;
  border-radius: 20px;
  text-align: center;
  margin-top: 18px;
  color: #ffffff;
}

#scannedSuggestionOutput h3 {
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#suggestionSuggestionText{
  text-align: left;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*------------------Scanned Mood Streak----------------------*/
#scannedDayCounter {
  font-size: 2rem;
  color: #627954;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

/*----------------------------------------Dark Mode----------------------------------------*/

/*-------------------Greeting---------------------*/
.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.dark-mode #greetingContainer h2{
  color: #ffffff;
}

/*-------------------Dark Mode Button---------------------*/
.dark-mode #darkModeButton {
    background-color: #fff;
}
.dark-mode #darkModeButton i{
    color: #000;
}

/*-------------------User Name Form---------------------*/
.dark-mode .collectInfoForm{
  background-color: #627954;
}

.dark-mode .collectInfoForm p{
  color: #d3ddce;
}

.dark-mode #submitbutton {
  color: #627954;
  background-color: #d3ddce;
}

/*-------------------Submit Button Nav---------------------*/
.dark-mode #moodButtonNav{
  background-color: #414141;
}

/*------------------Mood Slider----------------------*/

.dark-mode #moodSliderContainer h3{
  color: #fff;
}
  
/*------------------Triggers----------------------*/
.dark-mode .accordionHeader{
  background-color: #627954;
  color: #fff;
}

.dark-mode .accordionContent {
  background-color: #414141;
  color: #fff;
}

.dark-mode .triggerButton {
  background-color: #f5f5f5;
  color: #414141;
}

.dark-mode .triggerButton.active {
  background-color: #d3ddce;
  color: #627954;
}

.dark-mode .sleepInput input{
  background-color: #fff;
}

.dark-mode .switch .slider {
  background-color: #000;
}

/*------------------Mood Records + Suggestion----------------------*/
.dark-mode #m2, .dark-mode #m3 {
  background-color: #414141;
  color: #fff;
}

.dark-mode #recordedDayCounter {
  color: #d3ddce;
}

.dark-mode #suggestionOutput {
  background-color: #fff;
  color: #627954;
}

/*------------------Navbar----------------------*/
/* Bottom Navbar */
.dark-mode .bottomNav {
  background: #627954;
}

/* Base Button */
.dark-mode .bottomNav .navBtn {
  color: #000000;
}

.dark-mode  .bottomNav .navBtn.active {
  color: #ffffff;
}

.dark-mode  .bottomNav .float.active,
.dark-mode .bottomNav .navBtn.float.active {
  background: #ffffff;
  color: #627954;
}

.dark-mode .bottomNav .float i {
  color: #627954;
}

/* Floating + Button */
.dark-mode .bottomNav .float {
  background: #ffffff;
  color: #627954;
}

/*------------------Back Button----------------------*/
.dark-mode .backBtn {
  color: #ffffff;
}

.dark-mode .backBtn:hover{
  color: #627954;
}

/*------------------Loader----------------------*/
.dark-mode #loaderContainer {
  background: #d3ddce;
}

.dark-mode #loader {
  width: 60%;
  height: 30%;
  padding: 0 12px;
  box-sizing: border-box;
  background:
    linear-gradient(#627954 0 0) 0    0/20px 70px,
    linear-gradient(#627954 0 0) 100% 0/20px 70px,
    radial-gradient(farthest-side,#627954 90%,#0000) 0 7px/12px 12px content-box,
    #d3ddce;
  background-repeat: no-repeat;
  animation: l3 2s infinite linear;
}

.dark-mode #loaderContainer h3{
  color: #627954;
}